<div class="pageBody" >
    <p class="pageTitle">Cryptowährungen</p>
    <div layout="row">
        <div layout="column" flex>
            <md-card flex>
                <md-card-content layout="row" >
                <div layout="column" flex>
                    <div style="height: 100px; width: 100px; background-color: gray; margin: auto;"></div>
                    <p class="appletText centered">Bitcoin</p>
                </div>
                <div layout="column" flex>
                    <div>
                        <p class="appletText centered">Volume:</p>
                        <p class="appletText appletSemiSide centered">16.049</p>
                    </div>
                    <div>
                        <p class="appletText centered">Bitstamp</p>
                        <p class="appletText appletSemiSide centered">12322.02€</p>
                    </div>
                </div>
                <div layout="column" flex style="margin: auto;">
                    <div style="height: 30px; width: 30px; background-color: gray; margin: auto;"></div>
                    <p class="appletText appletSemiSide centered">+2.00%</p>
                </div>
                <div flex>
                    <p class="appletTitle">5.000,23€</p>
                </div>
                </md-card-content>
            </md-card>
            <md-card flex>
                <md-card-content layout="row">
                <div layout="column" flex>
                    <div style="height: 100px; width: 100px; background-color: gray; margin: auto;"></div>
                    <p class="appletText centered">Bitcoin</p>
                </div>
                <div layout="column" flex>
                    <div>
                        <p class="appletText centered">Volume:</p>
                        <p class="appletText appletSemiSide centered">16.049</p>
                    </div>
                    <div>
                        <p class="appletText centered">Bitstamp</p>
                        <p class="appletText appletSemiSide centered">12322.02€</p>
                    </div>
                </div>
                <div layout="column" flex style="margin: auto;">
                    <div style="height: 30px; width: 30px; background-color: gray; margin: auto;"></div>
                    <p class="appletText appletSemiSide centered">+2.00%</p>
                </div>
                <div flex>
                    <p class="appletTitle centered">5.000,23€</p>
                </div>
                </md-card-content>
            </md-card>
        </div>
        <div layout="column" flex>
            <md-card flex>
                <md-card-content layout="row">
                <div layout="column" flex>
                    <div style="height: 100px; width: 100px; background-color: gray; margin: auto;"></div>
                    <p class="appletText centered">Bitcoin</p>
                </div>
                <div layout="column" flex>
                    <div>
                        <p class="appletText centered">Volume:</p>
                        <p class="appletText appletSemiSide centered">16.049</p>
                    </div>
                    <div>
                        <p class="appletText centered">Bitstamp</p>
                        <p class="appletText appletSemiSide centered">12322.02€</p>
                    </div>
                </div>
                <div layout="column" flex style="margin: auto;">
                    <div style="height: 30px; width: 30px; background-color: gray; margin: auto;"></div>
                    <p class="appletText appletSemiSide centered">+2.00%</p>
                </div>
                <div flex>
                    <p class="appletTitle centered">5.000,23€</p>
                </div>
                </md-card-content>
            </md-card>
            <md-card flex>
                <md-card-content layout="row">
                <div layout="column" flex>
                    <div style="height: 100px; width: 100px; background-color: gray; margin: auto;"></div>
                    <p class="appletText centered">Bitcoin</p>
                </div>
                <div layout="column" flex>
                    <div>
                        <p class="appletText centered">Volume:</p>
                        <p class="appletText appletSemiSide centered">16.049</p>
                    </div>
                    <div>
                        <p class="appletText centered">Bitstamp</p>
                        <p class="appletText appletSemiSide centered">12322.02€</p>
                    </div>
                </div>
                <div layout="column" flex style="margin: auto;">
                    <div style="height: 30px; width: 30px; background-color: gray; margin: auto;"></div>
                    <p class="appletText appletSemiSide centered">+2.00%</p>
                </div>
                <div flex>
                    <p class="appletTitle centered">5.000,23€</p>
                </div>
                </md-card-content>
            </md-card>
        </div>
    </div>
</div>