<div class="pageBody" >
    <p class="pageTitle">Stundenplan</p>
    <div layout="row">
        <md-card flex>
            <md-card-content layout="column" layout-margin layout-padding>
                <p class="appletTitle">Derzeitige Stunde</p>
                <div layout="row" class="appletBox">
                    <div style="margin: auto;" layout="row">
                        <div style="height: 30px; width: 30px; background-color: gray; margin-top: auto; margin-bottom: auto; margin-right: 24px;"></div>
                        <p class="appletSemiSide centered">Softwareentwicklung</p>
                    </div>
                </div>
                <div layout="row" class="appletBox">
                    <div layout="row" flex layout-margin layout-align="center center">
                        <div style="height: 30px; width: 30px; background-color: gray; margin-top: auto; margin-bottom: auto;"></div>
                        <p class="appletSemiSide centered">11:05 - 12:30</p>
                    </div>
                    <div layout="row" flex layout-margin layout-align="center center">
                        <div style="height: 30px; width: 200px; background-color: gray; margin-top: auto; margin-bottom: auto; padding: 0;">
                            <div style="height: 30px; width: 60%; background-color: greenyellow; padding: 0; margin: 0;"></div>
                        </div>
                        <p class="appletSemiSide centered">7 min</p>
                    </div>
                </div>
                <div layout="row" class="nomargin">
                    <div layout="column" class="appletBox" flex>
                        <div layout="row" layout-align="center center" layout-margin>
                            <div style="height: 30px; width: 30px; background-color: gray; margin-top: auto; margin-bottom: auto;"></div>
                            <p class="appletSemiSide centered">Mag. Anna Flex</p>
                        </div>
                        <div layout="row" layout-align="center center" layout-margin>
                            <div style="height: 30px; width: 30px; background-color: gray; margin-top: auto; margin-bottom: auto;"></div>
                            <p class="appletSemiSide centered">Mag. Anna Flex</p>
                        </div>
                    </div>
                    <div layout="column" class="appletBox" flex>
                        <div layout="row" layout-align="center center" layout-margin>
                            <div style="height: 30px; width: 30px; background-color: gray; margin-top: auto; margin-bottom: auto;"></div>
                            <p class="appletSemiSide centered">Mag. Anna Flex</p>
                        </div>
                        <div layout="row" layout-align="center center" layout-margin>
                            <div style="height: 30px; width: 30px; background-color: gray; margin-top: auto; margin-bottom: auto;"></div>
                            <p class="appletSemiSide centered">Mag. Herta Suwantschieff</p>
                        </div>
                    </div>
                </div>
            </md-card-content>
        </md-card>
        <md-card flex>
            <md-card-content layout="column">
                <p>Nächste Stunde</p>
                <div layout="row">
                    <div style="height: 30px; width: 30px; background-color: gray; margin-top: auto; margin-bottom: auto;"></div>
                    <p>Softwareentwicklung</p>
                </div>
                <div layout="column">
                    <div layout="row">
                        <div style="height: 30px; width: 30px; background-color: gray; margin-top: auto; margin-bottom: auto;"></div>
                        <p>Mag. Anna Flex</p>
                    </div>
                    <div layout="row">
                        <div style="height: 30px; width: 30px; background-color: gray; margin-top: auto; margin-bottom: auto;"></div>
                        <p>Mag. Anna Flex</p>
                    </div>
                    <div layout="row">
                        <div style="height: 30px; width: 30px; background-color: gray; margin-top: auto; margin-bottom: auto;"></div>
                        <p>Mag. Anna Flex</p>
                    </div>
                </div>
            </md-card-content>
        </md-card>
    </div>
</div>