<div class="pageBody" >
    <p class="pageTitle">Stundenplan</p>
    <div layout="row">
        <md-card flex="70">
            <md-card-content layout="column" layout-margin layout-padding>
                <p class="appletTitle">Derzeitige Stunde</p>
                <div layout="row" class="appletBox">
                    <div style="margin: auto;" layout="row">
                        <img ng-src="images/school/subject.svg" style="height: 30px; width: 30px; margin-top: auto; margin-bottom: auto; margin-right: 24px;">
                        <p class="appletSemiSide centered">{{$ctrl.currentLesson.subjects[0].long}}</p>
                    </div>
                </div>
                <div layout="row" class="appletBox">
                    <div layout="row" flex layout-margin layout-align="center center">
                        <img ng-src="images/school/time.svg" style="height: 30px; width: 30px; margin-top: auto; margin-bottom: auto;">
                        <p class="appletSemiSide centered">{{$ctrl.currentLesson.start | date:"H:mm"}} - {{$ctrl.currentLesson.end | date:"H:mm"}}</p>
                    </div>
                    <div layout="row" flex layout-margin layout-align="center center">
                        <div style="height: 30px; width: 200px; background-color: gray; margin-top: auto; margin-bottom: auto; padding: 0;">
                            <div style="height: 30px; width: {{$ctrl.currentLesson.progressPercent }}%; background-color: greenyellow; padding: 0; margin: 0;"></div>
                        </div>
                        <p class="appletSemiSide centered">{{$ctrl.currentLesson.differenceHour | number:0}} min</p>
                    </div>
                </div>
                <div layout="row" class="appletBox"  class="nomargin">
                    <div layout="column" flex>
                        <div layout="row"layout-margin  style="margin-left: 25%;" ng-repeat="teacher in $ctrl.currentLesson.teachers | limitTo: 2">
                            <img ng-src="images/school/teacher.svg" style="height: 30px; width: 30px; margin-top: auto; margin-bottom: auto;">
                            <p class="appletSemiSide centered">{{teacher.fullName}}</p>
                        </div>
                    </div>
                    <div layout="column" flex >
                        <div layout="row"  layout-margin  style="margin-left: 25%;">
                            <img ng-src="images/school/subject.svg" style="height: 30px; width: 30px; margin-top: auto; margin-bottom: auto;">
                            <p class="appletSemiSide centered">PLF</p>
                        </div>
                        <div layout="row" layout-margin  style="margin-left: 25%;">
                            <img ng-src="images/school/room.svg" style="height: 30px; width: 30px; margin-top: auto; margin-bottom: auto;">
                            <p class="appletSemiSide centered">{{$ctrl.currentLesson.rooms[0]}}</p>
                        </div>
                    </div>
                </div>
            </md-card-content>
        </md-card>
        <md-card flex="30">
            <md-card-content layout="column" layout-margin layout-padding>
                <p class="appletTitle" >Nächste Stunde</p>

                <div layout="row" class="appletBox">
                    <div style="margin: auto;" layout="row">
                        <img ng-src="images/school/subject.svg" style="height: 30px; width: 30px; margin-top: auto; margin-bottom: auto; margin-right: 24px;">
                        <p class="appletSemiSide centered">{{$ctrl.nextLesson.subjects[0].long}}</p>
                    </div>
                </div>

                <div layout="column" class="appletBox">
                    <div layout="row" flex layout-margin layout-align="center center" ng-repeat="teacher in $ctrl.nextLesson.teachers | limitTo: 2">
                        <img ng-src="images/school/teacher.svg" style="height: 30px; width: 30px; margin-top: auto; margin-bottom: auto;">
                        <p class="appletSemiSide centered">{{teacher.fullName}}</p>
                    </div>
                    <div layout="row" flex layout-margin layout-align="center center">
                        <img ng-src="images/school/room.svg" style="height: 30px; width: 30px; margin-top: auto; margin-bottom: auto;">
                        <p class="appletSemiSide centered">{{$ctrl.nextLesson.rooms[0]}}</p>
                        </img>
                    </div>
                </div>
            </md-card-content>
        </md-card>
    </div>
</div>