<div class="pageBody">
    <p class="pageTitle">Öffentliche Verkehrsmittel</p>
    <div layout="row">
        <md-card md-theme-watch flex="70" layout-margin>
            <md-card-content layout="column">
                <div class="nomargin" ng-repeat="train in $ctrl.trains | limitTo: 10" layout="column">
                    <div layout="row">
                        <p class="appletText" flex="25">{{train.timeString}} <span class="appletSideInformation">({{train.delay}})</span></p>
                        <img class="appletWarningIcon" src="images/warning.svg" ng-if="train.trafficJam">
                        <p class="appletText appletWarning" flex="20" ng-if="train.trafficJam">Stau</p>
                        <p class="appletText appletWarning" flex="20" ng-if="!train.trafficJam"></p>
                        <div flex="10" layout="row"  layout-align="center center">
                            <p class="appletText" >{{train.line}}</p>
                            <img ng-src="{{train.symbolType}}" width="26" height="32">
                        </div>
                        <p class="trainDestination appletText" flex>{{train.destination}}</p>
                    </div>
                    <hr ng-hide="$last">
                </div>
            </md-card-content>
        </md-card>
        <md-card md-theme-watch flex="30" layout-margin>
            <md-card-content layout-margin >
                <p class="appletTitle">{{$ctrl.station}}</p>
                <div layout="column"  layout-align="center center">
                    <img class="appleStationImage" ng-src="{{$ctrl.image}}" >
                </div>
                <div class="appletLineBox" >
                    <!-- <p class="appletStationLineText">Linien</p> !-->
                    <div  layout="row" layout-align="center center" style="flex-wrap: wrap;">
                        <div class="nomargin"  ng-repeat="line in $ctrl.lines" style=" width: 50%;">
                            <div layout="row"  layout-align="center center">
                                <img ng-src="{{line.symbolType}}" width="26" height="32">
                                <p class="appletStationLines">{{line.name}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </md-card-content>
        </md-card>
    </div>
</div>
