<div class="pageBody" >
    <p class="pageTitle">Öffentliche Verkehrsmittel</p>
    <div layout="row" >
        <md-card md-theme-watch flex="70">
            <md-card-content layout="column" layout-margin >
                <div class="nomargin" ng-repeat="train in $ctrl.trains | limitTo: 5" layout="column">
                    <div layout="row">
                        <p class="appletText" flex="25">{{train.timeString}} <span class="appletSideInformation">({{train.delay}})</span></p>
                        <p class="appletText appletWarning" flex="20" ng-if="train.trafficJam">Stau</p>
                        <p class="appletText appletWarning" flex="20" ng-if="!train.trafficJam"></p>
                        <p class="appletText" flex="10">{{train.line}}</p>
                        <p class="trainDestination appletText" flex>{{train.destination}}</p>
                    </div>
                    <hr ng-hide="$last">
                </div>
            </md-card-content>
        </md-card>
        <md-card md-theme-watch flex="30">
            <md-card-content layout="column" layout-margin>
                <p class="appletTitle">{{$ctrl.station}}</p>
                <img src="" >
                <p class="appletStationLineText">Linien</p>
                <div class="nomargin" ng-repeat="line in $ctrl.lines">
                    <p class="appletStationLines">{{line}}</p>
                </div>
            </md-card-content>
        </md-card>
    </div>
</div>