.page        {
    position:absolute;
    top:0;
    width:100%;
    background:none;
    height:100%;
}

.page.ng-leave 	{ z-index:2; }
.page.ng-enter 	{ z-index:1; }

body{
    overflow-x: hidden;
}

.page.ng-leave {
    -webkit-animation:slideOutLeft 1s both ease-in;
    -moz-animation:slideOutLeft 1s both ease-in;
    animation:slideOutLeft 1s both ease-in;
}

.page.ng-enter {
    -webkit-animation:slideInRight 1s both ease-in;
    -moz-animation:slideInRight 1s both ease-in;
    animation:slideInRight 1s both ease-in;
}

@-webkit-keyframes slideOutLeft {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    to {
        visibility: hidden;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes slideOutLeft {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    to {
        visibility: hidden;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

.slideOutLeft {
    -webkit-animation-name: slideOutLeft;
    animation-name: slideOutLeft;
}

@-webkit-keyframes slideInRight {
    from {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInRight {
    from {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.slideInRight {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
}
