* {
    color: #e3e3e3;
    font-family: 'Open Sans', serif;
}

p {
    margin: 0;
}

hr {
    border: 0;
    background-color: #34495e;
    height: 1px;
    width: 100%;
}

body {
    background-color: #161e27;
    height: 100%;
    /*padding: 50px;
    padding-bottom: 20px;*/
}

.pageBody {
    background-color: #161e27;
}

md-content {
    background: none;
}

md-card {
    background: linear-gradient(115deg, #475e75 0%, #34495e 100%);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 0;
}

.appletText {
    font-size: 32px;
    margin: 0;
    font-weight: 400;
}

.percentageInfoText{
    font-size: 24px;
}

.volumeText {
    font-size: 28px;
}

.volumeInfoText {
    font-size: 24px;
}

.appletSemiSide {
    font-size: 26px;
}

.nomargin {
    margin: 0;
}

.noborder {
    margin: 0;
    padding-bottom: 0;
    padding-top: 0;
}

.centered {
    text-align: center;
}

.centeredGray {
    text-align: center;
    color: #B9B9B9;
}

.trainDestination {
    text-align: end;
}

.appletTitle {
    text-align: center;
    font-size: 40px;
    margin-bottom: 0.5em;
}

.appletSideInformation {
    font-weight: 100;
    font-size: 20px;
}

.appletStationLineText {
    font-size: 40px;
    text-align: center;
}

.appletBox {
    height: 100px;
    background-color: #2C3E50;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    width: 95%;
}

.nextHourInfoBox {
    height: 330px;
}

.nextHourInfoBox > *  {
    width: 97%;
}

.nextHourInfoBox > *:last-child {
    margin-left: 10px;
}

.tableBoxHeight {
    height: 500px;
}

.appletLineBox {
    width: 90%;
    background-color: #2C3E50;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    margin: 0;
    margin-top: 40px;
}

.bigAppletBox {
    height: 200px;
}

.svgIcon {
    height: 60px;
    width: 60px;
    margin-top: auto;
    margin-bottom: auto;
}

.appleStationImage {
    width:300px;
    height:300px;
    border-radius: 50%;
    border: solid 12px;
    border-color: #222E3B;
    text-align: center;
}

.appletWarningIcon{
    width:94px;
    height: 43px;
}

.appletStationLines {
    font-size: 36px;
    text-align: center;
    margin-left: 10px;
}

.appletWarning {
    font-weight: 600;
    color: #e24c4b;
}

.pageTitle {
    font-weight: 500;
    font-size: 60px;
    margin: 0;
    margin-left: 8px;
    margin-top: 8px;
}

.staticBox {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.infobox {
    position: fixed;
    bottom: 0;
    margin: 8px;
    width: calc(100% - 16px);
}

.digitoringFrame {
    width: calc(100% - 16px);
    height: 80vh;
    overflow: hidden;
}

.trainInfoText {
    font-size: 32px;
    margin-right: 5px;
    font-weight: 300;
}

.lineBoxItems {
    margin: 15px;
}

.loadingBar {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    height: 30px;
    background-color: #CFF09E;
    padding: 0;
    margin: 0;
}