.page        {
    position:absolute;
    top:0;
    width:100%;
    background:#ffffff;
    height: 100%;
}

.page.ng-leave 	{ z-index:2; }
.page.ng-enter 	{ z-index:1; }

.page.ng-leave {
    -webkit-animation:slideOutLeft 1s both ease-in;
    -moz-animation:slideOutLeft 1s both ease-in;
    animation:slideOutLeft 1s both ease-in;
}

@keyframes slideOutLeft {
    to 		{ transform: translateX(-100%); }
}
@-moz-keyframes slideOutLeft {
    to 		{ -moz-transform: translateX(-100%); }
}
@-webkit-keyframes slideOutLeft {
    to 		{ -webkit-transform: translateX(-100%); }
}