<md-card md-theme-watch>
    <md-card-content layout="row" layout-align="center center" layout-margin>
        <div style="max-width: 30%; max-height: 50%; background-color: #9e9e9e;">
            <img src="https://maxcdn.icons8.com/Share/icon/Transport//tram1600.png" class="md-media-md" style="width: 100%;">
            <p style="text-align: center" class="md-headline">{{$ctrl.station}}</p>
        </div>
        <div layout="column" flex layout-margin style="background-color: #9e9e9e;">
            <div ng-repeat="train in $ctrl.trains | limitTo: 5" layout="row">
                <md-whiteframe class="md-whiteframe-5dp" style="background-color: cornflowerblue; color: white; border-width: 1px; padding-right: 1em; padding-left: 1em; line-height: 0;">
                    <h3>{{train.time}}</h3>
                    <h4>{{train.delay}}</h4>
                </md-whiteframe>
                <div md-whiteframe class="md-whiteframe-5dp" flex style="background-color: cornflowerblue; color: white; border-width: 1px; padding-right: 1em; padding-left: 1em">
                    <h3>{{train.line}} <span style="color: lightgrey">></span> {{train.destination}}</h3>
                </div>
            </div>
        </div>
    </md-card-content>
</md-card>