<md-card md-theme-watch>
    <md-card-content layout="column" layout-margin>
        <div class="trainEntry" ng-repeat="train in $ctrl.trains | limitTo: 5" layout="column">
            <div layout="row">
                <p flex>{{train.time}} <span style="font-size: 12px;">({{train.delay}})</span></p>
                <p flex ng-if="train.trafficJam">Stau</p>
                <p flex>{{train.line}}</p>
                <p flex>{{train.destination}}</p>
            </div>
            <hr ng-hide="$last" style="width: 100%;">
        </div>
    </md-card-content>
</md-card>